*.o
*.a
*.elf
*.hdd
*.iso
*.tar.gz
*.tar.xz
/obj
/bin
/src/limine.h
/freestanding-toolchain
/toolchain-files
/freestanding-headers
/libgcc-binaries
/build
/configure
/configure.ac.save
/build-aux
/*~
/config.status
/config.log
/autom4te.cache
/GNUmakefile
